.totalBG {
  background-image: linear-gradient(to bottom, #ffffff, #defafe, #cffcf1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.timerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  width: 300px;
  height: 300px;
}
.timer {
  padding: 0px;
  margin: 0px;
  color: #00d9f5;
  font-size: 25px;
}
.timertext {
  padding: 0px;
  margin: 0px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
.timeContainer {
  background-color: #ffffff;
  width: 35%;
  height: 35%;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.playPausecss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.buttonCss {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  cursor: pointer;
  width: 100px;
}
.playcss {
  width: 30px;
}
.buttonText {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  padding-left: 3px;
}
.controllersContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.timerControllerContainer {
  display: flex;
  flex-direction: column;
}
.timerPhrase {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}
.plusMinusButton {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.timerValue {
  font-size: 25px;
  font-family: 'Roboto';
  background-image: linear-gradient(to right, #08f761, #00d9f5);
  width: 70px;
  height: 40px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.timeAdjustContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .timerControllerContainer {
    flex-direction: row;
  }
  .timerContainer {
    width: 450px;
    height: 250px;
  }
  .controllersContainer {
    width: 80%;
  }
}
